body {
  margin: 0px;
}

header {
  padding: 20px;
  text-align: center;
}

#ajaxdata {
  width: 80%;
  margin: auto;
  min-height: 500px;
  text-align: center;
}

button {
  padding: 8px 40px 8px;
  color: blue;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: yellow;
}

button:focus {
  color: white;
  background-color: chocolate;
}

h1 {
  color: blue;
  font-size: 70px;
}

.project {
  margin: 2%;
  width: 45%;
  display: inline-block;
  font-size: 25px;
  color: black;
  text-align: center;
}

.branch {
  margin: 2%;
  width: 45%;
  display: inline-block;
  font-size: 25px;
  color: black;
  text-align: left;
}

footer {
  min-height: 150px;
  background-color: darkcyan;
  padding: 20px;
  text-align: center;
  color: yellow;
  font-size: 22px;
}
